[Unit]
Description=Samsung Remote Mapper

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/samsung_remap.py
Restart=on-failure
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
